@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --yellow-prime: #1E6DB0;
    --black-common: #161616;
    --greyish-black: #515151;
    --white-common: #f8ffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fs-12px{
  font-size: 12px;
}

.fs-14px{
  font-size: 14px;
}
.fs-16px{
  font-size: 16px;
}

.fs-28px{
  font-size: 28px;
}

a{
  text-decoration: none;
}

body{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.login-section{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}



/* Login page styles */
.login-section {
  background-image: url(../images/login-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
    height: 100vh;
    position: relative;
  }

  
  
 
 
  
  .login-content-parent {
    position: relative;
    z-index: 3;
  }
  
  .login-content-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .login-box {
    background: var(--white-common);
    border-radius: 14px;
    width: 28%;
  }
  
  .login-logo img {
    width: 100%;
    max-width: 120px;
  }
  
  .login-head-para h3 {
    font-size: 31px;
    font-weight: 600;
    color: var(--black-common);
  }
  
  .login-head-para p {
    font-size: 20px;
    font-weight: 400;
    color: var(--black-common);
  }
  
  .input-login input {
    border: 1px solid #D8D8D8;
    background-color: #F1F4F9;
    min-height: 47px;
    width: 100%;
    font-weight: 400;
    outline: none;
    font-size: 15px;
    color: var(--black-common);
    padding: 0 0.85rem;
    border-radius: 8px;
}
  
  .input-login input::placeholder {
    color: #A6A6A6;
  }
  
  .remem-me span {
    font-weight: 400;
    font-size: 18px;
    padding-left: 1%;
    color: var(--black-common);
  }
  
  .login-btn {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    padding: 1.5rem 0 0 0;
  }
  
  .login-btn a, .login-btn button {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background: var(--yellow-prime);
    text-align: center;
    border-radius: 6px;
    width: 90%;
    padding: 0.75rem 0;
    transition: 0.3s ease-in-out;
}
  .login-btn button {
    border: none;
  }
  
  .login-btn a:hover,
  .login-btn button:hover {
    color: var(--yellow-prime);
    background: var(--black-common);
  }
  .login-box-inner {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
}
  .input-and-rem-parent {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-logo {
    padding-bottom: 0.7rem;
  }
  
  .env-icon,
  .lock-icon {
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
  }
  
  .remem-me {
    display: flex;
    align-items: center;
  }
  
  .eye-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    font-size: 18px;
    color: #10101085;
  }
  
  .input-login {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

  /* Login page styles */
  /* sider styles */
/*******************
Main sidebar
******************/
.left-sidebar {
  position: fixed;
  width: 260px;
  height: 100vh;
  top: 0px;
  z-index: 20;
  background: #fff;
  border-right: 1px solid rgba(120, 130, 140, 0.13);
  /* transition: all 0.2s ease-in-out; */
}


.left-sidebar.highlight {
  transform: translateX(-260px);
}



.left-sidebar.highlight ~ .topbar-main{
  width: 100% !important;
}
.left-sidebar.highlight ~ .main-dashboard-content-parent{
  width: 100% !important;
}

.dropdown-toggle::after{
  display: none !important;
}


/*******************
sidebar navigation
******************/
.scroll-sidebar {
  height: 100%;
}
.scroll-sidebar.ps .ps__scrollbar-y-rail {
  left: 2px;
  right: auto;
  background: none;
  width: 6px;
  /* If using `left`, there shouldn't be a `right`. */
}

.collapse.in {
  display: block;
}

.sidebar-nav {
  background: #fff;
  padding: 25px 0 0 0px;
}
.sidebar-nav ul {
  margin: 3rem 0 0 0;
  padding: 0 1.25rem;
}

.logo-sidebar {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.sidebar-nav ul li {
  list-style: none;
}
.sidebar-nav ul li a {
  color: #8d97ad;
  padding: 0.7rem 1rem;
  font-size: 15px;
  font-weight: 400;
  border-radius: 6px;
}





.sidebar-nav ul li ul {
  padding-left: 40px;
}
.sidebar-nav ul li ul li a {
  padding: 7px 35px 7px 15px;
}
.sidebar-nav ul li ul ul {
  padding-left: 15px;
}
.sidebar-nav ul li.nav-small-cap {
  font-size: 12px;
  margin-bottom: 0px;
  padding: 30px 14px 14px 0px;
  color: #bcc3d3;
  font-weight: 500;
}
.sidebar-nav ul li.nav-devider {
  height: 1px;
  background: rgba(120, 130, 140, 0.13);
  display: block;
  margin: 15px 0;
}
.sidebar-nav > ul > li > a {
  border-left: 3px solid transparent;
}
.sidebar-nav > ul > li > a i {
  width: 38px;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  color: #787f91;
}
.sidebar-nav > ul > li > a .label {
  float: right;
  margin-top: 2px;
}

.sidebar-nav > ul > li {
  margin-bottom: 8px;
  margin-top: 8px;
}

.sidebar-nav .waves-effect {
  transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

.sidebar-bottom-btn {
  padding: 1rem 2rem;
  border-radius: 6px;
  background: #1e6db0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.sidebar-nav ul li .active {
  background-color: #1e6db0;
  color: #fff;
}
.sidebar-nav ul li .active img{
  filter: brightness(55);
}


.sidebar-nav ul li a{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.sidebar-nav ul li .active::before {
  content: "";
  position: absolute;
  z-index: 2;
  background: #1e6db0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  top: 50%;
  left: -23px;
  width: 5px;
  height: 100%;
  transform: translateY(-50%);
}

.profile-pic{
  display: flex;
  align-items: center;
  gap: 1rem;
}



  /* sider styles */


