/* .main-dashboard-content-parent {
  width: calc(100% - 260px);
  margin-left: auto;
  padding: 1.5rem 2rem;
  margin-top: 65px;
  min-height: 100vh;
  background: #f4faff;
} */
/* Default content area with full sidebar */
.main-dashboard-content-parent {
  width: calc(100% - 260px);
  margin-left: 260px;
  padding: 1.5rem 2rem;
  margin-top: 65px;
  min-height: 100vh;
  background: #f4faff;
  transition: margin-left 0.3s ease, width 0.3s ease;
}

/* When the sidebar is minimized */
.minimized-sidebar .main-dashboard-content-parent {
  width: calc(100% - 70px); /* Adjust based on the sidebar's minimized width */
  margin-left: 70px;
}
.minimized-sidebar .sidebar-nav ul li a{
  padding: 0.5rem 0;
}

/* Responsive adjustments */
@media (max-width: 991px) {
  .main-dashboard-content-parent {
    width: 100%;
    margin-left: 0;
  }
}
/* table css */
.table-card {
  background-color: #fff;
  width: 100%;
  border: 1px solid #e2e2e2;
}

.table-card table {
  width: 100%;
  margin-bottom: 0;
}

/*******************
Table Cell
*******************/
.table-box {
  display: table;
  width: 100%;
}

.table.no-border tbody td {
  border: 0px;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

.table td,
.table th {
  border-color: #f3f1f1;
}

.table th {
  background-color: #f6f6f6;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-weight: 800;
}

.table td {
  /* padding-top: 1.4rem;
  padding-bottom: 0.8rem; */
  font-weight: 600;
}
.table th,
.table td {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 14px;
}

.table-hover tbody tr:hover {
  background: rgba(0, 0, 0, 0.02);
}

.table td p {
  height: 50px;
  margin-bottom: 0;
}

.nowrap {
  white-space: nowrap;
}

.lite-padding td {
  padding: 5px;
}

.v-middle td,
.v-middle th {
  vertical-align: middle;
}

.table-button {
  padding: 0.5rem 1.25rem;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 700;
  border: none;
}

.btn-complete {
  color: #fff;
  background-color: #00b69b;
}
.btn-viewlead {
  color: #4880ff;
  background-color: #4880ff59;
}

/*******************
Table-Layout
******************/
.table thead th,
.table th {
  border: 0px;
}

.color-table.primary-table thead th {
  background-color: #6772e5;
  color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #e9edf2;
}
/* table css */

/* main page css  */
.main-page-top-box {
  background: #fff;
  border-radius: 14px;
  border: 1px solid #edecec;
  padding: 1rem;
  height: 100%;
}
.main-page-lead-box {
  background: #fff;
  border-radius: 14px;
  border: 1px solid #edecec;
  padding: 1.5rem 2rem;
}

.main-page-top-box-text-parent {
  gap: 0.7rem;
}

.lead-detail-btn {
  border: 1px solid #d5d5d5;
  background: transparent;
  padding: 0.35rem 1rem;
  color: #6e6e6e;
  gap: 0.5rem;
  border-radius: 5px;
}

.lead-detail-btn i {
  font-size: 12px;
}

.leads-box-img-main {
  width: 100%;
  margin-top: 1rem;
}

.icon-img-main-page {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
/* main page css  */

/* leads page css  */
.filter-box-parent {
  background-color: #f9f9fb;
  border: 1px solid #e2e2e2;
  border-radius: 7px;
  width: max-content;
}

.filter-box-inner-btn {
  background-color: transparent;
  padding: 1rem 1.25rem;
  border: none;
  border-right: 1px solid #e2e2e2;
  color: #202224;
}
.filter-box-inner-btn i {
  font-size: 12px;
}

.filter-box-inner-btn:last-child {
  border-right: none;
}

.customDropMenu {
  width: 23rem;
}
.customDropMenu2 {
  width: 30rem;
}
/* leads page css  */

/* User Management css  */
.add-user-btn {
  background-color: #4880ff;
  color: #fff;
  border-radius: 10px;
  padding: 0.6rem 1.3rem;
}

.btn-edit-user {
  background-color: transparent;
  color: #4880ff;
  border: 1px solid #4880ff;
}

.btn-delete {
  color: #ef3826;
  background-color: #ef37263b;
}

/* User Management css  */

/* === LEAD DETAIL PAGE === */
.boxLeadDetail {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
}
.printPdfBtn {
  background: transparent;
  outline: none;
  padding: 3px 20px;
  border: 1px solid #abacad;
  border-radius: 8px;
}
a.backToPageBtn {
  color: #1e6db0;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 10px;
}
.inpCust {
  background: #f5f6fa;
  padding: 10px;
  border: 1px solid #d5d5d5;
}
/* === LEAD DETAIL PAGE === */

/* === ADD USER PAGE === */
.addUserBox {
  background: #fff;
  padding: 30px;
  border-radius: 20px;
}
/* === ADD USER PAGE === */
